body
{
    text-align: center;
    background-image: url("https://i.pinimg.com/736x/d6/06/0a/d6060a6d2ee11ff369132ab926ff04c4.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #ff5100;
padding: 10px;
float: none;
text-align: left;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}